@model Data.Location
@{Layout = "_Layout";}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
<script type="text/javascript">

ymaps.ready(init);

function init () {

    myMap = new ymaps.Map("map", {
    center: [54.7, 32],
        zoom: 8
    }),

    myGeoObject = new ymaps.GeoObject({
        geometry: {type: "Point",coordinates: [54.7, 32]},
        properties: {iconContent: 'New Point'}
    }, {preset: 'islands#blackStretchyIcon',draggable: true
    })

    var circle = new ymaps.Circle([[54.7, 32], 1000], {}, {
        geodesic: true
    });

    myMap.events.add('click', function (e) {
        var coords = e.get('coords');
        myGeoObject.geometry.setCoordinates(coords);
        circle.geometry.setCoordinates(coords);
        document.all['latitude'].value = coords[0];
        document.all['longitude'].value = coords[1];
    });

    myGeoObject.events.add(['mapchange','dragend'], 
        function (e) {
            coords = myGeoObject.geometry.getCoordinates();
            circle.geometry.setCoordinates(coords);
            document.all['latitude'].value = coords[0];
            document.all['longitude'].value = coords[1];
        }
    ); 

    circle.events.add(['mapchange','dragend'], 
        function (e) {
            coords = circle.geometry.getCoordinates();
            document.all['latitude'].value = coords[0];
            document.all['longitude'].value = coords[1];
        }
    ); 


    myMap.geoObjects.add(myGeoObject);
    myMap.geoObjects.add(circle);

}
   
</script>
<table width="100%">
    <tr>
        <td width="240" bgcolor="#666666">
            <a href="/create_location">Create</a>
        </td>
        <td bgcolor="#eeeeee">     
        <div id="map" style="width: 640;height: 480;"></div>            
        <form method="post">
            Name <input asp-for="Name" id="Name" name="Name" value="name"/><br/>
            Latitude<input asp-for="Latitude" id="Latitude" name="Latitude" value="111"/><br/>
            Longitude<input asp-for="Longitude" id="Longitude" name="Longitude" value="33"/><br/>
            Precision<input asp-for="LocationPrecisionMeters" id="precision" name=""/><br/>
            <input type="submit"/>
        </form>
        </td>        
    </tr>
</table>

