<html>
    <header>
        HEADER
    </header>
    <body>
        <table>
            <tr><td colspan="2">TOP</td></tr>
            <tr>
                <td width="20%" background-color="red">LEFT</td>
                <td width="80%" background-color="green">
                    @RenderBody()
                </td>
            </tr>
        </table>
    </body>
</html>
