<html>
    <header>        
        <style>
            body {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: large;
                font-color: #eeeeee;
                margin: 0;
            }
            td {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: large;
                font-color: #eeeeee;
                vertical-align: top;
            }
            .left {
                width: 320;
                background-color: #cccc99;
                padding: 30px
            }
            .right {
                background-color: #eeeeee;
                padding: 30px
            } 
            .dateButton {
                padding:10px;
                margin:10px;
            } 
            .dateButtonSelected {
                background-color:white;
                padding:10px;
                margin:10px;
            }
            .comment {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size:small
            } 
            .commentInput {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                width:100%;
                margin:10px;
                background:#f7f7ee;
                font-size:small
            }                                   
        </style>
    </header>
    <body>
        <table width="100%" height="100%" spacing="0" padding="0" border="0">
            <tr>
                <td height="50" bgcolor="#336699" style="padding:30px;spacing:0px">
                    <a href="/" style="color:#eeeeee">HOME</a>
                </td>
            </tr>
            <tr>
                <td width="100%" valign="top" style="padding:0px;spacing:0px" >
                    @RenderBody()
                </td>
            </tr>
        </table>
    </body>
</html>
