<html>
    <body>
        <form method="post" enctype="multipart/form-data">
            <input type="file" webkitdirectory directory multiple />
            <input type="submit"/>
        </form>
    </body>
</html>
