/* Make photo scale responsively */
.photo-view {
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .photo-view {
        height: 60vh;
    }
}

.invalid-feedback {
    display: block;
}

.bg-image {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
z-index: 0;
}
