@model svema.Data.Blog
<html>
    <body>
        <form method="post">
            <input asp-for="BlogId"/>
            <input asp-for="Url"/>
            @* <input asp-for="Posts"/>  *@
            <input type="submit"/>
        </form>
    </body>    
</html>
