@model svema.Data.Album
<html>
    <body>
        <form method="post">
            <input asp-for="AlbumId"/>
            @* <input asp-for="Url"/> *@
            @* <input asp-for="Posts"/>  *@
            <input type="submit"/>
        </form>
    </body>    
</html>
