@model IEnumerable<svema.Data.Album>
<html>
    <body>
        <a href="add_album">Add Album</a>
        <a href="upload_album">Upload Album</a>
        <br>
        @foreach(var album in Model)  {
            <table style="display:inline">
                <tr><td><a href="/view_album?id=@album.AlbumId"><img width=200 height=200></a></td></tr>
                <tr><td>@album.Name</td></tr>
                <tr><td>
                    <a href="/view_album?id=@album.AlbumId">View</a>&nbsp;
                    <a href="/edit_album?id=@album.AlbumId">Edit</a>&nbsp;
                    <a href="/delete_album?id=@album.AlbumId">Delete</a>
                </td></tr>                
            </table>
        }
    </body>    
</html>