@{Layout = "_Layout";}
<table width="100%" height="100%" spacing="0" padding="0">
    <tr>
        <td class="left">
            <a href='/view_album?id=@Context.Request.Query["albumId"]'>Back</a>
            <form method="post">
                <input type="hidden" name="year_from" id="year_from"><br>
                <input type="hidden" name="year_to" id="year_to"><br>
                <input type="hidden" name="month_from" id="month_from"><br>
                <input type="hidden" name="month_to" id="month_to"><br>
                <input type="hidden" name="day_from" id="day_from"><br>
                <input type="hidden" name="day_to" id="day_to"><br>
                <input type="hidden" name="date_format" id="date_format"><br>
                <input type="hidden" name="id" id="id" value='@Context.Request.Query["albumId"]'><br>
                <input type="submit" value="Set Date">
            </form>
        </td>
        <td class="right"> 
            <div>Choose Decade:</div>
            <div id="decades" style="padding:10px"></div>
            <div id="years_label">Choose Year:</div>
            <div id="years" style="padding:10px"></div>
            <div id="months_label">Choose Month:</div>
            <div id="months" style="padding:10px"></div>
            <div id="days_label">Choose Day:</div>
            <div id="days" style="padding:10px"></div>
        </td>        
    </tr>
</table>
<script>

    init();

    var selectedDecade;
    var selectedYear;
    var selectedMonth;
    var selectedDay;

    var date;
    var datePattern;    

    var months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
    var days = [31,28,31,30,31,30,31,30,31,30,31,30];
    var days_vis = [31,29,31,30,31,30,31,30,31,30,31,30];

    function init() {
        document.all['decades'].textContent = '';
        document.all['years_label'].style.visibility = "hidden";
        document.all['months_label'].style.visibility = "hidden";
        document.all['days_label'].style.visibility = "hidden";
        document.all['years'].style.visibility = "hidden";
        document.all['months'].style.visibility = "hidden";
        document.all['days'].style.visibility = "hidden";
        for (i=192; i<203; i++) {
            var decadeButton = document.createElement("input");
            decadeButton.setAttribute("type", "button");
            decadeButton.setAttribute("value", i + "X");
            decadeButton.setAttribute("onClick", "javascript:setDecade();");            
            decadeButton.setAttribute("class", "dateButton");
            decadeButton.setAttribute("id", i);
            document.all['decades'].appendChild(decadeButton);
        }
    }

    function setDecade() {
        document.all['years_label'].style.visibility = "visible";
        document.all['months_label'].style.visibility = "hidden";
        document.all['days_label'].style.visibility = "hidden";  
        document.all['years'].style.visibility = "visible";
        document.all['months'].style.visibility = "hidden";
        document.all['days'].style.visibility = "hidden";             
        if (selectedDecade!=null) {
            selectedDecade.setAttribute("class","dateButton");
        }        
        selectedDecade = window.event.target;
        selectedDecade.setAttribute("class", "dateButtonSelected");
        document.all['years'].textContent = '';
        document.all['year_from'].value=parseInt(selectedDecade.id) * 10;
        document.all['year_to'].value=(parseInt(selectedDecade.id) + 1) * 10;
        document.all['month_from'].value=1;
        document.all['month_to'].value=12;
        document.all['day_from'].value=1;
        document.all['day_to'].value=31;
        document.all['date_format'].value="yyy";
        for (i=0; i<10; i++) {
            var yearButton = document.createElement("input");
            var year = selectedDecade.id * 10 + i;
            yearButton.setAttribute("type", "button");
            yearButton.setAttribute("value", year);
            yearButton.setAttribute("onClick", "javascript:setYear();");
            yearButton.setAttribute("class", "dateButton");
            yearButton.setAttribute("id", year);
            document.all['years'].appendChild(yearButton);
        } 
    } 

    function setYear() {
        document.all['years_label'].style.visibility = "visible";
        document.all['months_label'].style.visibility = "visible";
        document.all['days_label'].style.visibility = "hidden";    
        document.all['years'].style.visibility = "visible";
        document.all['months'].style.visibility = "visible";
        document.all['days'].style.visibility = "hidden";              
        if (selectedYear != null) {
            selectedYear.setAttribute("class", "dateButton");
        }
        selectedYear = window.event.target;
        selectedYear.setAttribute("class", "dateButtonSelected");
        document.all['months'].textContent = '';
        document.all['year_from'].value=parseInt(selectedYear.id);
        document.all['year_to'].value=parseInt(selectedYear.id);
        document.all['month_from'].value=1;
        document.all['month_to'].value=12;
        document.all['day_from'].value=1;
        document.all['day_to'].value=31;
        document.all['date_format'].value="yyyy";        
        for (i=0; i<12; i++) {
            var monthButton = document.createElement("input");
            var year = selectedYear.value;
            monthButton.setAttribute("type", "button");
            monthButton.setAttribute("value", months[i]);
            monthButton.setAttribute("onClick", "javascript:setMonth(" + i + ");");
            monthButton.setAttribute("class", "dateButton");
            monthButton.setAttribute("id", year + "-" + (i + 1));
            document.all['months'].appendChild(monthButton);
        }         
    }

    function setMonth(month) {
        document.all['years_label'].style.visibility = "visible";
        document.all['months_label'].style.visibility = "visible";
        document.all['days_label'].style.visibility = "visible";    
        document.all['years'].style.visibility = "visible";
        document.all['months'].style.visibility = "visible";
        document.all['days'].style.visibility = "visible";          
        if (selectedMonth != null) {
            selectedMonth.setAttribute("class", "dateButton");
        }
        selectedMonth = window.event.target;
        selectedMonth.setAttribute("class", "dateButtonSelected");
        document.all['days'].textContent = '';   
        document.all['year_to'].value=document.all['year_to'].value;
        document.all['month_from'].value=month+1;
        document.all['month_to'].value=month+1;
        document.all['day_from'].value=1;
        document.all['day_to'].value=days[month];
        document.all['date_format'].value="yyyy-mm";         
        for (i=1; i < days[month]; i++) {
            var dayButton = document.createElement("input");
            var monthId = selectedMonth.id;
            dayButton.setAttribute("type", "button");
            dayButton.setAttribute("value", i);
            dayButton.setAttribute("onClick", "javascript:setDay();");
            dayButton.setAttribute("class", "dateButton");
            dayButton.setAttribute("id", i);
            document.all['days'].appendChild(dayButton);
        }                       
    }

    function setDay() {
        if (selectedDay != null) {
            selectedDay.setAttribute("class", "dateButton");
        }
        selectedDay = window.event.target;
        document.all['day_from'].value=selectedDay.id;
        document.all['day_to'].value=selectedDay.id;
        document.all['date_format'].value="yyyy-mm-dd";     
        selectedDay.setAttribute("class", "dateButtonSelected");
    }

</script>